@import "../../assets/scss/abstract/variables";
@import "../../assets/scss/abstract/mixins";

.button {
  $main: &;
  &:hover {
    opacity: 1;
    background-color: $color-primary;
    border-color: $color-primary;
    color: $color-primary-white;
    box-shadow: $box-shadow-light;
  }

  &,
  &--normal,
  &--fail,
  &--success,
  &--loading,
  &--warning,
  &--danger,
  &--inverted,
  &--icon-only {
    width: 100%;
    height: 100%;
    padding: 0 1rem;
    border-radius: 0.2rem;
    float: left;
    transition: all 0.2s ease;
    cursor: pointer;
    outline: none;
    display: flex;

    &::before {
      content: "";
      width: 0;
      height: 100%;
      position: absolute;
      z-index: 0;
      left: 0;
      @include transition(0.3s ease-in all);
    }
  }

  &--reverse {
    flex-direction: row-reverse;
  }

  &,
  &--normal {
    color: $color-primary;
    border: solid 0.1rem $color-primary;
  }

  &--icon-only {
    color: $color-primary;
    opacity: 0.6;
    background-color: transparent;
    border: none;
  }

  &--inverted {
    color: $color-primary-white;
    border: solid 0.1rem $color-primary-white;
    opacity: 0.6;

    &:hover {
      opacity: 1;
      border-color: $color-primary;
      color: $color-primary-white;
    }

    &::before {
      background-color: $color-primary;
    }

    &:hover &::before {
      width: 100%;
    }
  }

  &--fail,
  &--success,
  &--loading,
  &--warning,
  &--danger {
    color: $color-primary-white;
    border: solid 0.1rem transparent;
  }

  &--fail,
  &--success,
  &--loading {
    opacity: 1;
  }

  &--normal {
    background-color: transparent;
    opacity: 0.6;

    &:hover {
      color: $color-primary-white;
      opacity: 1;
    }

    &::before {
      background-color: $color-primary;
    }

    &:hover::before {
      width: 100%;
    }
  }

  &--loading {
    background-color: $color-success-secondary;
    opacity: 1;

    &:hover {
      color: $color-primary-white;
    }
  }

  &--fail {
    background-color: $color-error-primary;
  }

  &--success {
    background-color: $color-success-primary;
  }

  &--warning {
    background-color: $color-warning-primary;
  }

  &--danger {
    background-color: $color-danger-primary;
    opacity: 0.6;

    &:hover {
      opacity: 1;
    }
  }

  &__icon {
    width: 33%;
    overflow: hidden;
    border-right: none;
    position: relative;

    i {
      top: 50%;
      left: 50%;
      position: absolute;
      transform: translate(-50%, -50%);
      &::before {
        font-size: 2rem;
        fill: $color-primary-white;
      }
    }
  }

  &__label {
    color: $color-primary-white;
    width: 66%;
    position: relative;
    overflow: hidden;

    span {
      min-width: 20rem;
      top: 50%;
      position: absolute;
      transform: translateY(-50%);
    }
  }

  &--normal &__label {
    color: $color-primary;
  }

  &--fail &__label {
    color: $color-error-primary;
  }

  &--success &__label {
    color: $color-success-primary;
  }

  &--warning &__label {
    color: $color-warning-primary;
  }

  &--danger &__label {
    color: $color-danger-primary;
  }

  &--normal,
  &--fail,
  &--success,
  &--loading,
  &--warning,
  &--danger {
    &:hover #{$main}__label {
      color: $color-primary-white;
    }
  }

  &--icon-only {
    #{$main}__label {
      width: 0;
      padding: 0;
      overflow: hidden;
      opacity: 0;
    }

    #{$main}__icon {
      width: 100%;
    }
  }
}
