@import "../abstract/variables";

.page {
  position: relative;

  &__window {
    width: calc(100% - 15rem);
    height: 100vh;
    overflow: hidden;
    position: absolute;
    right: 0;
    background-color: $color-secondary;
  }

  &__selector {
    width: 15rem;
    height: 100vh;
    background-color: $color-tertiary;
    position: absolute;
    left: 0;
  }

  &__view {
    width: 100%;
    height: 100%;
    box-shadow: $box-shadow-light;
  }

  &__slide {
    height: 100vh;
    overflow: hidden;
    position: relative;
    box-sizing: border-box;
    background-color: $color-primary-white;

    div {
      width: 100%;
      height: 100%;
      position: absolute;
    }

    :last-child {
      z-index: 30;
    }

    &--left {
      left: 0;
      position: absolute;
      z-index: 999;
      div {
        float: left;
        background-image: radial-gradient(
          circle at top right,
          $color-secondary,
          $color-tertiary
        );
      }
    }

    &--right {
      float: right;
      right: 0;
      z-index: 999;
      div {
        float: right;
        background-image: radial-gradient(
          circle at top left,
          $color-secondary,
          $color-tertiary
        );
      }
    }
  }

  &__holder {
    height: 100vh;
    position: absolute;
    transform: translateX(-50%);
    left: 50%;
  }
}
