@import "../abstract/variables";

.page {
    position: relative;

    &__window {
        width: 0;
        height: 100vh;
        transform: translateX(-50%);
        left: 50%;
        overflow: hidden;
        position: absolute;
    }

    &__view {
        width: 100vw;
        height: 100vh;
        position: absolute;
    }

    &__slide {
        height: 100vh;
        overflow: hidden;
        position: relative;
        box-sizing: border-box;

        div {
            width: 100%;
            height: 100%;
            position: absolute;
            
        }

        :first-child {
            background-color: #9cbdee;
            z-index: 10;
        }

        :nth-child(2) {
            background-color: #6ca0ee;
            z-index: 20;
        }

        :last-child {
            background-color: #4388ef;
            z-index: 30;
        }
        
        &--left {
            float: left;
            div {
                float: left;
            }
        }

        &--right {
            float: right;
            div {
                float: right;
            }
        }
    }

    &__holder {
        height: 100vh;
        float: left;
    }
}
