@import "../../assets/scss/abstract/variables";
@import "../../assets/scss/abstract/mixins";

.page-options {
  position: fixed;
  z-index: 999;
  transform: translateY(-50%);
  top: 50%;
  left: 5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;

  &__option {
    &,
    &--selected {
      position: relative;
      width: 5rem;
      height: 5rem;
      margin: 1.5rem 0;
      @include transition-quick();

      label {
        font-family: $font-primary;
        color: $color-primary-white;
        width: 5rem;
        height: 5rem;
        line-height: 5rem;
        overflow: hidden;
        font-size: 2rem;
        position: absolute;
        z-index: 0;
        visibility: hidden;
        padding-left: 6rem;
        border-radius: 5rem 0 0 5rem;
        @include transition-quick();
      }

      &:hover {
        label {
          display: block;
          width: 20rem;
          background-color: $color-grey-dark-fade;
          padding-left: 7rem;
          visibility: visible;
        }
      }
    }

    &__icon {
      border-radius: 50%;
      width: 100%;
      height: 100%;
      border: solid 0.1rem $color-primary-white;
      position: absolute;
      z-index: 50;
      color: $color-primary-white;
      line-height: 5rem;
      text-align: center;
      @include transition-quick();
    }

    &:hover &__icon,
    &--selected &__icon {
      background-color: $color-secondary;
      color: $color-primary-white;
      border: solid 0.1rem $color-secondary;
    }
  }

  &--dark &__option {
    &__icon {
      color: $color-primary;
      border: solid 0.1rem $color-primary;
    }
  }

  &--dark &__option--selected &__option__icon {
    color: $color-primary-white;
  }
}
