@import "../../assets/scss/abstract/variables";
@import "../../assets/scss/abstract/mixins";

.header {
  position: absolute;
  z-index: 500;
  width: 100%;
  padding: 2rem 10% 2rem 5rem;

  &__logo {
    width: auto;
    height: 4rem;
    float: left;
    @include transition-quick;
    
    &--hidden {
      opacity: 0;
      visibility: hidden;
    }

    img {
      height: 100%;
    }
  }

  &__socials {
    &,
    &--dark {
      float: right;
      display: flex;
      justify-content: space-between;
      width: 25rem;

      a {
        width: 4rem;
        height: 4rem;
        line-height: 4rem;
        text-align: center;
        text-decoration: none;
        color: $color-primary-white;
        border-radius: 50%;
        border: solid 1px transparent;
        @include transition-quick;

        &:hover {
          color: $color-primary;
          scale: 1.5;
        }
      }
    }

    &--dark {
      a {
        color: $color-primary;
        &:hover {
          scale: 1.5;
        }
      }
    }
  }
}
