@import "../../assets/scss/abstract/variables";
@import "../../assets/scss/abstract/mixins";

.header {
  position: absolute;
  z-index: 500;
  width: 100%;
  padding: 2rem 10% 2rem 2rem;

  &__page-selector-toggle {
    float: left;
    width: 2rem;
    height: 4rem;
    margin-right: 1rem;
    color: $color-secondary;
    position: relative;
    opacity: 0;

    @include respond(tab-port) {
      opacity: 1;
      width: 4rem;
    }
  }

  &__logo {
    float: left;
    width: auto;
    height: 4rem;
    @include transition-quick;
    
    &--hidden {
      opacity: 0;
      visibility: hidden;
    }

    @include respond(tab-port) {
      height: 4.5rem;
      margin-left: .5rem;
    }

    img {
      height: 100%;
    }
  }

  &__socials {
    &,
    &--dark {
      float: right;
      display: flex;
      justify-content: space-between;
      width: 25rem;

      a {
        width: 4rem;
        height: 4rem;
        line-height: 4rem;
        text-align: center;
        text-decoration: none;
        color: $color-primary-white;
        border-radius: 50%;
        border: solid 1px transparent;
        @include transition-quick;

        &:hover {
          color: $color-primary;
          scale: 1.5;
        }
      }
    }

    &--dark {
      a {
        color: $color-primary;
        &:hover {
          scale: 1.5;
        }
      }
    }
  }
}
