@import "../../assets/scss/abstract/variables";
@import "../../assets/scss/abstract/mixins";

$contact-grid-border: solid 0.1rem #dfdfdf17;

.contact-page {
  width: 100%;
  background-image: $radial-gradient;

  &--selected {
    background-image: radial-gradient(
      circle at top,
      $color-tertiary,
      $color-tertiary
    );
  }
  &__header {
    height: 10vh;
    grid-area: header;
    border-bottom: $contact-grid-border;
  }

  &__contacts {
    height: 90vh;
    overflow-x: scroll;
    overflow-y: hidden;
    white-space: nowrap;
  }
}

.contact-section {
  &,
  &--selected {
    width: 25%;
    height: 100%;
    border-right: $contact-grid-border;
    padding: 3rem 5rem;
    position: relative;
    display: inline-block;

    @include respond(tab-port) {
      width: 30%;
    }

    @include respond(tab-land) {
      width: 35%;
    }

    @include respond(phone) {
      width: 75%;
    }

    h1 {
      color: $color-primary-white;
    }

    h3 {
      color: $color-secondary;
    }
  }

  &__image {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
    position: absolute;
    overflow: hidden;
    top: 0;
    left: 0;
    z-index: 0;
    opacity: 0;
    @include transition(0.5s ease all);

    img {
      min-width: auto;
      height: 100%;
    }
  }

  &__fade {
    box-shadow: $box-shadow-light-inset;
    background-image: radial-gradient(
      circle at top right,
      transparent,
      $color-tertiary
    );
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: 0;
  }

  &--selected &__image {
    opacity: 1;
  }

  &__details {
    position: absolute;
    z-index: 100;
  }

  &__number {
    color: $color-primary-white;
    padding-bottom: 2rem;
    border-bottom: solid 0.3rem $color-secondary;
    width: 2rem;
    @include transition-quick();
  }

  &--selected &__number {
    width: 4rem;
  }

  &__icon {
    width: 120px;
    height: 120px;
    position: relative;
    margin: 6rem 0;

    svg {
      height: 100%;
      width: 100%;
      position: absolute;
      z-index: 0;
    }

    circle {
      stroke-dasharray: 180 120;
      stroke-dashoffset: 300;
      stroke: $color-secondary;
    }

    i {
      position: absolute;
      z-index: 100;
      color: #ffffffbd;
      transform: translate(-50%, -50%);
      margin: 50% 0 0 50%;
      @include transition-quick();
    }
  }

  &--selected &__icon i {
    transform: translate(-50%, -50%) scale(1.5);
  }

  &__button {
    float: left;
    position: absolute;
    bottom: 10rem;
    width: 5rem;
    height: 6rem;
    @include transition-quick;
  }

  &--selected &__button {
    width: 60%;
  }
}
