@import "../../assets/scss/abstract/variables";

.landing-page {
  float: left;
  background-image: url("../../assets/images/landing-page.jpg");
  background-position: center;
  background-size: cover;

  &__info {
    margin: 30vh 0 0 10%;
    width: 80%;
    height: 50vh;
    background-color: $color-grey-dark-fade;
    padding: 5rem 10rem;
    float: left;
  }

  &__picture {
    position: absolute;
    z-index: 500;
    bottom: 0;
    right: 15%;
    height: 90vh;
    object-fit: cover;
    object-position: center;

    img {
      min-height: 100%;
      filter: drop-shadow(-5rem -1rem 2rem #00000060) !important;
    }
  }
}

.info {
  &__intro {
    border-left: solid 0.2rem $color-primary;
    float: left;
    padding-left: 3rem;
    margin-bottom: 2rem;

    &__name {
      font-size: 7rem;
      color: $color-primary-white;
      margin: .5rem 0 0 0;
      float: left;
      width: 100%;
    }

    &__greeting {
      font-size: 2.5rem;
      color: $color-primary-white;
      margin: 0 0 .5rem 0;
      float: left;
    }
  }

  &__job {
    float: left;
    width: 100%;
    margin: 1rem 0;

    div,
    .typed-cursor {
      color: $color-primary-white;
      font-family: $font-secondary;
      float: left;
      margin: 0;
      line-height: 3.5rem;
    }

    div {
      font-size: 3rem;
    }

    .typed-cursor {
      font-size: 3.5rem;
    }

    &__title {
      color: $color-primary;
      font-size: 3.5rem;
      font-family: $font-secondary;
      float: left;
      margin-left: 1rem;
      line-height: 3.5rem;
    }
  }
}
