@import "../../../assets/scss/abstract/variables";
@import "../../../assets/scss/abstract/mixins";

.section {
  float: left;
  width: 100%;
  margin-bottom: 20vh;
  overflow: hidden;
  
  &__header {
    padding: 10rem 0;
    float: left;
    width: 100%;

    h1 {
      text-align: center;
      transform: translateX(-50%);
      margin-left: 50%;
      float: left;
      display: inline-flex;
    }

    span:hover {
      color: $color-primary;
    }
  }

  @include respond(phone) {
    margin-bottom: 10vh;

    &__header {
      padding: 5rem 0;
    }
  }
}
